@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

header{
	padding-bottom: 15px;
	font-family: 'Quicksand', sans-serif;
}

body{
	font-family: 'Quicksand', sans-serif;
    color: #1F1F1F;
}
#logo{
	text-align: left;
	margin-right: 830px;
	margin-top: 20px;
	 }
#articulos{
	padding-top: 40px;
}

#menu{
	width: 40px;
}

#primer-articulo{
	background-color:#5ca9aa;
}

footer{
	padding: 20px;
	background: #afcb1f;
	color: aliceblue;
	text-align: right;

}
footer p{
	text-align: center;
}
	


#articulos{
	padding-bottom: 30px;
}

#articulos h2{
	text-align: center;
	color: #B4CD07;
	margin-top: 70px;
	margin-bottom: 0px;
	
	 
}


#articulos p{
	color: #848484;
	text-align: left;
	font-weight: 100%;
	font-size: 15px;
	
	
}
#articulos h3{
	font-size: 25px;
	text-align: left;
	color: #B4CD07;
	
}
#articulos h5{
	text-align: center;
	margin-bottom: 70px;
	margin-top: 20px;
}

#articulos2{
	padding-bottom: 30px;
}

#articulos2 h2{
	text-align: center;
	color: #B4CD07;
	margin-top: 70px;
	margin-bottom: 0px;

	 
}

#primer-articulo img{
	padding-top: 15px;
}

#articulos2 p{
	color: #848484;
	text-align: left;
	font-weight: 100%;
	font-size: 15px;
	
	
}
#articulos2 h3{
	font-size: 25px;
	text-align: left;
	color: #B4CD07;
	
}
#articulos2 h5{
	text-align: center;
	margin-bottom: 70px;
	margin-top: 20px;
}

#titulo1{
	font-size: 14px;
	color: #5ca9aa;
	font-weight: bold;
}
#titulo2{
	font-size: 14px;
	color: #6fb632;
	font-weight: bold;
}
#foot{
	
	color-background: #6fb632;
	
}
#titulo3{
	font-size: 14px;
	color: #616161;
	font-weight: bold;
}
#titulo4{
	font-size: 14px;
	color: #5ca9aa;
	font-weight: bold;
}
#titulo5{
	font-size: 14px;
	color: #6fb632;
	font-weight: bold;
}
#titulo6{
	font-size: 14px;
	color: #616161;
	font-weight: bold;
}
#logo{
	text-align: left;
	margin-right: 830px;
	
}
.search{
	background-color: #B4CD07;
	padding-top: 10px;
	padding-left: 15px;
}	

#primer-articulo h5{
	padding-top: 10px;
 color: #fff;
}

#primer-articulo h1{
	color: #fff;
}

#primer-articulo{
	margin-bottom: 30px;
	
}

i{
	color: #fff;
}

.indoors{
	padding-left: 40px;
}

.indoors a:hover{
	text-decoration:underline;
	color: #fff;
}

.titulo{
	color: #5ca9aa;
	font-weight: bold;
	margin: 20px;
	margin-bottom: 40px;
}