@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

header{
	padding-bottom: 10px;
	font-family: 'Quicksand', sans-serif;
}

body{
	font-family: 'Quicksand', sans-serif;
}
#logo{
	text-align: left;
	margin-right: 830px;
	margin-top: 20px;
	 }

#about{
	color: #B4CD07;
	padding: 40px 0px;
	font-weight: bold;
}

#mission{
	padding: 60px;
	padding-top: 60px;
	
}

#mission h3{
	color: #B4CD07;
text-transform: uppercase;
	font-weight: bold;
}

#values{
	padding: 60px;
	
}

#values h3{
	color: #B4CD07;
text-transform: uppercase;
	font-weight: bold;
}

footer{
	padding: 20px;
	background: #afcb1f;
	color: aliceblue;
	text-align: right;

}
footer p{
	text-align: center;
}

#content h1{
	color: #afcb1f;
}

#content{
	padding-bottom: 60px
}
